<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rendering list of data</title>
	<link rel="stylesheet" href="../asset/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div id="demo" class="container">
		<h1>Love's name</h1>
		<ul class="list-group">
			<li class="list-group-item"
				v-for="name in names"
			>
				{{ name }}	
			</li>
		</ul>
		<input type="text"
			   v-model="newName"
			   @keyup.enter="addName"
			   class="form-control"
		>
	</div>
	<script src="../asset/vue.js"></script>
    <script src="./love.js"></script>
</body>
</html>