.container {
	background: #aaa;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
}
.btn.active {
	background: #00BCD4;
	color: #fff;
}
.btn.active:focus {
	background: #00BCD4;
	color: #fff;
	outline: none;
}
@media (max-width: 700px) {
	.container {
		margin: 10px;
	}	
}